﻿ .keep-open .dropdown-menu li>label{width:150px;}

.btn-white {
    background-color: #fff;
    border-color: #ddd;
    color: #808080;
}
.btn-upload {
    position: relative;
    display: inline-block;
    height: 31px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}
.input-file {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 1;
    font-size: 30em;
    opacity: 0;
    filter: alpha(opacity=0);
}
