<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="手表,运动手表,儿童手表,时尚手表,手表加工厂,手表生产">
    <meta name="author" content="手表,运动手表,儿童手表,时尚手表,手表加工厂,手表生产">
    <title>润欧表业有限公司——手表星级制造商</title>

    <!-- core CSS -->
    <link href="~/Contents/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Contents/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Contents/css/animate.min.css" rel="stylesheet">
    <link href="~/Contents/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Contents/css/main.css" rel="stylesheet">
    <link href="~/Contents/css/responsive.css" rel="stylesheet">
    @RenderSection("css", required: false)
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Contents/images/ico/favicon.ico">
</head>
<body class="homepage">
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>+86 13726822460</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                        <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>-->
                    <a class="navbar-brand" href="~/"><img src="~/Contents/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li id="menu_1" class=""><a href="~/">网站首页</a></li>
                        <li id="menu_2" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">产品列表<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Home/Products">新品推荐</a></li>
                                <li><a href="~/Home/Products">热门产品</a></li>
                                <li><a href="~/Home/Products">全部产品</a></li>
                            </ul>
                        </li>
                        <li id="menu_3" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">我们的服务<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Home/Service">ODM定制</a></li>
                                <li><a href="~/Home/Service?type=2">OEM定制</a></li>
                            </ul>
                        </li>
                        <li id="menu_4"><a href="~/Home/News">新品动向</a></li>
                        <li id="menu_5"><a href="~/Home/Designs">设计合作</a></li>
                        <li id="menu_6"><a href="~/Home/CoopCase">合作案例</a></li>
                        <li id="menu_7"><a href="~/Home/ChatZone">互动专区</a></li>
                        <li id="menu_8"><a href="~/Home/AboutUs">关于我们</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->

    @RenderBody()

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>有问题或需联系客服?</h2>
                            <p>请联系我们，我们会竭诚为您服务，电话：+8613726822460</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#conatcat-info-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>润欧表业</h3>
                        <ul>
                            <li><a href="~/Home/AboutUs">关于我们</a></li>
                            <li><a href="~/Home/Designs">设计合作</a></li>
                            <li><a href="~/Home/CoopCase">合作案例</a></li>
                            <li><a href="#">商标证书</a></li>
                            <li><a href="~/Home/AboutUs">联系我们</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>润欧产品</h3>
                        <ul>
                            <li><a href="~/Home/Products">男士表</a></li>
                            <li><a href="~/Home/Products">女士表</a></li>
                            <li><a href="~/Home/Products">儿童表</a></li>
                            <li><a href="~/Home/Products">情侣表</a></li>
                            <li><a href="~/Home/Products">商务表</a></li>
                            <li><a href="~/Home/Products">时尚表</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>润欧服务</h3>
                        <ul>
                            <li><a href="~/Home/Service">ODM定制</a></li>
                            <li><a href="~/Home/Service?type=2">OEM定制</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>联系我们</h3>
                        <ul>
                            <li><a href="#">13726822460</a></li>
                            <li><a href="#">广州市越秀区XXXXX</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2018 广州润欧表业有限公司 All rights reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="~/">网站首页</a></li>
                        <li><a href="~/Home/AboutUs">关于我们</a></li>
                        <li><a href="~/Home/AboutUs">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="~/Contents/js/jquery.js"></script>
    <script src="~/Contents/js/bootstrap.min.js"></script>
    <script src="~/Contents/js/jquery.prettyPhoto.js"></script>
    <script src="~/Contents/js/jquery.isotope.min.js"></script>
    <script src="~/Contents/js/main.js"></script>
    <script src="~/Contents/js/wow.min.js"></script>
    <script type="text/javascript">
        function setMenu(i)
        {
            $('#menu_' + i).addClass('active');
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
