
@{
    ViewBag.Title = "关于润欧";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center;font-size:3em;height:350px;line-height:300px;">页面升级，敬请期待...</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            setMenu(8);
        })
    </script>
}