
@{
    ViewBag.Title = "产品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style>
        .product-menu li {height: 35px;line-height: 35px;cursor: pointer;border-bottom:solid 1px #eee;}
        .product-menu li:hover {background-color: #000;color: #fff;}
</style>    
}

<div style="width: 100%;text-align: center;margin-bottom: 60px;min-height: 200px;">
    <div style="max-width: 1200px;margin: auto;margin-top: 20px;min-height: 360px;">
        <div style="width: 180px;position: absolute;border: solid 1px #E3E3E3;">
            <div style="background-color: #C52D2F;color: #fff;line-height: 38px;height: 38px;">产品分类</div>
            <ul class="product-menu" style="padding: 0px;margin:0px;list-style-type: none;">
                <li>新品推荐</li>
                <li>购买最多的</li>
                <li>男士手表</li>
                <li>女士手表</li>
                <li>儿童手表</li>
                <li>情侣手表</li>
                <li>商务手表</li>
                <li>时尚手表</li>
                <li>全部手表</li>
            </ul>
        </div>
        <div style="width: 1000px;margin-left: 10px;float: left;margin-left: 200px;text-align: left;">
            <div style="line-height: 40px;border-bottom: solid 1px #e3e3e3;">首页>产品列表>热门推荐</div>
            <div class="product-itemlist" style="margin-top: 5px;">
                <div class="row">
                    <div class="col-sm-3" style="margin-top: 10px;padding-right: 0px;">
                        <div style="padding:3px;border: solid 1px #e3e3e3;">
                            <img src="~/Contents/images/ads/ad3.png" style="width: 100%;">
                            <div style="margin-top: 5px;">
                                <div class="product-itemlist-item-name">
                                    <span>HP348859</span>
                                    <span style="float: right;margin-right: 3px;color: orange;font-weight: bold;">$17</span>
                                </div>
                                <div class="product-list-tools" style="text-align:right;margin-right: 3px;margin-top: 8px;">
                                    <a href="javascript:;" class="btn btn-warning btn-xs">加入购物车</a>
                                    <a href="javascript:;" class="btn btn-danger btn-xs">立即下单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="margin-top: 10px;padding-right: 0px;">
                        <div style="padding:3px;border: solid 1px #e3e3e3;">
                            <img src="~/Contents/images/ads/ad3.png" style="width: 100%;">
                            <div style="margin-top: 5px;">
                                <div class="product-itemlist-item-name">
                                    <span>HP348859</span>
                                    <span style="float: right;margin-right: 3px;color: orange;font-weight: bold;">$17</span>
                                </div>
                                <div class="product-list-tools" style="text-align:right;margin-right: 3px;margin-top: 8px;">
                                    <a href="javascript:;" class="btn btn-warning btn-xs">加入购物车</a>
                                    <a href="javascript:;" class="btn btn-danger btn-xs">立即下单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="margin-top: 10px;padding-right: 0px;">
                        <div style="padding:3px;border: solid 1px #e3e3e3;">
                            <img src="~/Contents/images/ads/ad3.png" style="width: 100%;">
                            <div style="margin-top: 5px;">
                                <div class="product-itemlist-item-name">
                                    <span>HP348859</span>
                                    <span style="float: right;margin-right: 3px;color: orange;font-weight: bold;">$17</span>
                                </div>
                                <div class="product-list-tools" style="text-align:right;margin-right: 3px;margin-top: 8px;">
                                    <a href="javascript:;" class="btn btn-warning btn-xs">加入购物车</a>
                                    <a href="javascript:;" class="btn btn-danger btn-xs">立即下单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="margin-top: 10px;padding-right: 0px;">
                        <div style="padding:3px;border: solid 1px #e3e3e3;">
                            <img src="~/Contents/images/ads/ad3.png" style="width: 100%;">
                            <div style="margin-top: 5px;">
                                <div class="product-itemlist-item-name">
                                    <span>HP348859</span>
                                    <span style="float: right;margin-right: 3px;color: orange;font-weight: bold;">$17</span>
                                </div>
                                <div class="product-list-tools" style="text-align:right;margin-right: 3px;margin-top: 8px;">
                                    <a href="javascript:;" class="btn btn-warning btn-xs">加入购物车</a>
                                    <a href="javascript:;" class="btn btn-danger btn-xs">立即下单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="margin-top: 10px;padding-right: 0px;">
                        <div style="padding:3px;border: solid 1px #e3e3e3;">
                            <img src="~/Contents/images/ads/ad3.png" style="width: 100%;">
                            <div style="margin-top: 5px;">
                                <div class="product-itemlist-item-name">
                                    <span>HP348859</span>
                                    <span style="float: right;margin-right: 3px;color: orange;font-weight: bold;">$17</span>
                                </div>
                                <div class="product-list-tools" style="text-align:right;margin-right: 3px;margin-top: 8px;">
                                    <a href="javascript:;" class="btn btn-warning btn-xs">加入购物车</a>
                                    <a href="javascript:;" class="btn btn-danger btn-xs">立即下单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="margin-top: 10px;padding-right: 0px;">
                        <div style="padding:3px;border: solid 1px #e3e3e3;">
                            <img src="@Url.Content("~/Contents/images/ads/ad3.png")" style="width: 100%;">
                            <div style="margin-top: 5px;">
                                <div class="product-itemlist-item-name">
                                    <span>HP348859</span>
                                    <span style="float: right;margin-right: 3px;color: orange;font-weight: bold;">$17</span>
                                </div>
                                <div class="product-list-tools" style="text-align:right;margin-right: 3px;margin-top: 8px;">
                                    <a href="javascript:;" class="btn btn-warning btn-xs">加入购物车</a>
                                    <a href="javascript:;" class="btn btn-danger btn-xs">立即下单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div style="clear: both;"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            setMenu(2);
        })
    </script>
}
